.levels {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 60px auto;
    max-width: 960px;
    width: 100%;
}

.levels div {
    background-color: rgb(240, 100, 125);
    color: white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    box-shadow: 2px 3px 7px 0px rgba(50, 50, 50, 0.65);
    transition: all .1s ease-in;
}

.levels div:hover,
.levels .current-level {
    cursor: pointer;
    box-shadow: 4px 4px 10px 1px rgba(50, 50, 50, 0.65);
}

.levels .current-level {
    background-color: rgba(190, 50, 75, 1);
}

@media (min-width:600px) {

    .levels {
        font-size: 22px;
        margin: 80px auto;
    }
}

