.card {
    box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
}

.level--6 .card{
    width: 90px;
    height: 90px;
}

.level--8 .card,
.level--10 .card,
.level--12 .card {
    width: 70px;
    height: 70px;
}

.card:hover {
    cursor: pointer;
}

.card-closed--toons {
    padding: 10px;
    background-color: rgb(245, 215, 200);
}

.card-closed img {
    height: 100%;
}

.card-opened {
    background-color: white;
}

.card img {
    width: 100%;
    height: 100%;
}

@media (min-width:600px) {

    .level--6 .card{
        width: 70px;
        height: 70px;
    }
    
    .level--8 .card,
    .level--10 .card,
    .level--12 .card {
        width: 60px;
        height: 60px;
    }
}

@media (min-width:800px) {
    .level--6 .card{
        width: 90px;
        height: 90px;
    }
    
    .level--8 .card,
    .level--10 .card,
    .level--12 .card {
        width: 65px;
        height: 65px;
    }
}

@media (min-width:1000px) {
    .level--6 .card{
        width: 120px;
        height: 120px;
    }
    
    .level--8 .card,
    .level--10 .card,
    .level--12 .card {
        width: 90px;
        height: 90px;
    }
}

@media (min-width:1200px) {

    .level--6 .card {
        width: 180px;
        height: 180px;
    }

    .level--8 .card,
    .level--10 .card,
    .level--12 .card {
        width: 170px;
        height: 170px;
    }
}