.header {
    background-color: rgb(105, 165, 145);
    padding: 20px 0;
}

.header__container {
    margin: 0 auto;
}

.header__container--6,
.header__container--8,
.header__container--10,
.header__container--12 {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.header__container h1 {
    color: white;
    text-align: center;
}

@media (min-width:600px) {
    .header__container--6 {
        width: 300px;
    }
    
    .header__container--8 {
        width: 250px;
    }
    
    .header__container--10 {
        width: 320px;
    }
    
    .header__container--12 {
        width: 390px;
    }
}

@media (min-width:800px) {
    .header__container--6 {
        width: 380px;
    }
    
    .header__container--8 {
        width: 280px;
    }
    
    .header__container--10 {
        width: 360px;
    }
    
    .header__container--12 {
        width: 420px;
    }
}

@media (min-width:1000px) {
    .header__container--6 {
        width: 500px;
    }
    
    .header__container--8 {
        width: 380px;
    }
    
    .header__container--10 {
        width: 490px;
    }
    
    .header__container--12 {
        width: 590px;
    }
}

@media (min-width: 1200px) {
    .header__container--6 {
        width: 770px;
    }
    
    .header__container--8 {
        width: 710px;
    }
    
    .header__container--10 {
        width: 900px;
    }
    
    .header__container--12 {
        width: 1080px;
    }
}