.home-page {
    padding: 0 20px;
}

@media (min-width:1000px) {

    .home-page {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width:1000px) {

    .home-page {
        width: 100%;
    }
}